@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

//Colors
$background:     #FFF;
$text-color:    #022933;
$red:           #E65C43;
$blue:         #0076A3;
$darkblue:    #001e25;
$yellow:       #FFBA00;
$green:         #548C27;
$purple:         #6D73C2;
$darkred:            #F25C43;
$darkgrey:               #666;
$darkblue:               #30353d;
$lightgrey:                 #F5F6F6;
$font-body: "Roboto", sans-serif;

//Image paths
$background-body: '../images/bg.gif';
$background-nav: '../images/logo.png';
$background-footer: '../images/social-media.png';